gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Flutter temporary files
/build/
/.dart_tool/

# DO NOT ignore the whole /windows/ folder.
# Only ignore these specific generated parts:
/windows/flutter/
/windows/CMakeLists.txt.user

# Keep these deleted for everyone
/linux/
/macos/
/ios/